.joke {
    margin-bottom: 10px;
    
    &__card {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border: {
            width: 2px;
            style: solid;
            color: #2c3350;
            radius: 2px;
        }
        padding: 1rem;
        min-height: 110px;

        
        .card-block {
            .close {
                cursor: pointer;
            }
        }
    }
}