.joke {
    margin-bottom: 5px;

    &__card {
        display: flex;
        justify-content: center;
        align-items: center;
        border: {
            width: 2px;
            style: solid;
            color: #2c3350;
            radius: 2px;
        }
        padding: 0.4rem;
        min-height: 110px;

        &--block {
            p {
                &:nth-child(1) {
                    margin-bottom: 0.3rem;
                }
            }
        }
    }
}